.header {
  display: flex;
  align-items: center;
  padding: 20px 0 20px;
  font-size: 20px;
}

.header__image {
  margin-right: 24px;
}

.header__avatar {
  height: 60px;
  width: 60px;
}

.header__location-and-date {
  margin: 0;
}

.header__add-button {
  margin: 0 20px 0 auto;
  border: none;
  cursor: pointer;
  transition: opacity 0.2 ease-in-out;
}

.header__add-button:hover {
  opacity: 0.6;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
}

.header__switch-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}
