.modal__footer {
  margin-left: 32px;
}

.modal__weather {
  margin-top: 0;
  margin-bottom: 32px;
}

.modal__caption {
  margin-top: 20px;
  margin-bottom: 12px;
}

.modal__image {
  height: 498px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
}

.modal__container_type_image .modal__close {
  background-image: url(../../images/modalclosewhite.png);
}
