.modal__footer {
  margin-left: 32px;
}

.modal__weather {
  margin-top: 0;
  margin-bottom: 32px;
}

.modal__caption {
  margin-top: 20px;
  margin-bottom: 12px;
}

.modal__delete {
  top: 520px;
  border: none;
  background-color: transparent;
  color: #ff4d00;
  position: absolute;
  left: 400px;
  padding: 0;
}

.modal__delete-invisible {
  visibility: hidden;
}

.modal__image {
  height: 498px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
}

.modal__container_type_image .modal__close {
  background-image: url(../../images/modalclosewhite.png);
}
