.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #00000080; /* Dimmed background */
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s linear, visibility 0.3s;
  z-index: 1000;
}

.modal_opened {
  opacity: 1;
  visibility: visible;
}

.register-modal__container {
  background-color: #fff;
  position: relative;
  box-sizing: border-box;
  width: 496px;
  justify-content: center;
  border-radius: 8px;
  padding: 28px;
}

.register-modal__title {
  margin-top: 0;
  font-size: 16px;
  margin-bottom: 24px;
}

.register-modal__form {
  display: flex;
  flex-direction: column;
}

.register-modal__field {
  margin-bottom: 15px;
}

.register-modal__label {
  display: block;
  color: #000;
}

.register-modal__input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  border: none;
  border-bottom: 1px solid #000;
  padding-bottom: 8px;
  padding-left: 0;
}

.register-modal__error {
  color: red;
  margin-bottom: 10px;
}

.register-modal__button-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.register-modal__button {
  padding: 10px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 124px;
  margin-right: 10px;
}

.register-modal__button:hover {
  opacity: 0.6;
}

.register-modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: center no-repeat url(../../images/modalclose.png);
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: none;
}

.button_disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
